.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

table,
th,
td {
    border: 1px solid rgb(5, 193, 236);
    border-width: 1px !important;
}

.blog {
    border: 2px solid rgb(0, 217, 255);
    padding: 20px;
}

@media only screen and (max-width:576px) {
    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }
}